.lm-modal-library {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    .lm-modal__body {
        height: 100%;

        .lm-gallery {
            border: 0;
            height: 100%;
            position: relative;

            .lm-gallery__wrapper {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            .lm-gallery__folders {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 20px;
                padding: 20px;
                position: relative;
                margin-bottom: 12px;
            }

            .lm-gallery__folder_items {
                overflow-x: auto;
                margin-bottom: 53px;
            }

            .lm-gallery__footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 12px;
                text-align: center;
                background-color: #fff;
            }

            .lm-gallery__action--add {
                display: none;
            }

            .lm-card-media {
                cursor: pointer;

                .lm-card-media__label {
                    box-shadow: 0 0 0 2px var(--border-color);
                }

                .lm-card-media__remove {
                    display: none !important;
                }

                .lm-card-media__checkbox {
                    &:checked {
                        + .lm-card-media__label {
                            box-shadow: 0 0 0 4px var(--color-info);

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}