.hello_bar {
    background-color: var(--color-primary);
    padding: var(--spacer-sm);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7001;

    & + .header {
        margin-top: 50px;
    }
}