footer.footer {
    padding: var(--spacer-xl) 0;

    @media (min-width: 768px) {
        padding: var(--spacer-3xl) 0;
    }

    .footer__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacer);
        flex-direction: column;

        @media (min-width: 576px) {
            flex-direction: row;
        }
    }
}