header.header {
    padding: var(--sp2) 0;

    .header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo {

    }

    .header__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .header__menu {
        .menu {
            list-style: none;

            display: flex;
            gap: 20px;
        }
    }
}


.logo {
    font-family: var(--font-serif);
    font-size: 28px;
    font-weight: 900;
    color: var(--color-title);
}