<template class="templateModalBookPackage">
    <div class="modal modal-book_package">
        <h3 class="modal__title">{{ 'book_package.title'|trans({}, 'form') }}</h3>
        <div class="modal__content">{{ 'book_package.subtitle'|trans({}, 'form') }}</div>
        <div class="modal__form">
            {{ form(form, {'class': 'formBookPackage'}) }}
        </div>
    </div>
</template>