<ul class="menu">
    {% for item in menu %}
        <li class="menu__item">
            <a href="{{ item.url }}"{{ (app.request.attributes.get('slug') in item.url) ? ' class="active"' }}>
                {{ item.title }}
            </a>
        </li>
    {% endfor %}
</ul>