h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    margin: 0;
    font-weight: bold;
    line-height: 1.2;
    color: var(--color-heading);
    font-family: var(--font-serif), serif;
}

h1, .h1 {
    font-size: var(--font-size-h1);
}

h2, .h2 {
    font-size: var(--font-size-h2);
}

h3, .h3 {
    font-size: var(--font-size-h3);
}

h4, .h4 {
    font-size: var(--font-size-h4);
}

h5, .h5 {
    font-size: var(--font-size-h5);
}

h6, .h6 {
    font-size: var(--font-size-h6);
}

.display-1 {
    font-size: var(--font-size-display-1);
}

.display-2 {
    font-size: var(--font-size-display-2);
}

.display-3 {
    font-size: var(--font-size-display-3);
}

.display-4 {
    font-size: var(--font-size-display-4);
}

.display-5 {
    font-size: var(--font-size-display-5);
}

.display-6 {
    font-size: var(--font-size-display-6);
}

.lead {
    font-size: var(--font-size-lead);
    color: var(--color-text);
}

p {
    font: var(--font-l);
    margin: 0 0 var(--spacer-xl);
    color: var(--color-text);

    &:last-child {
        margin-bottom: 0;
    }
}

.page__content {
    ul {
        margin: 0;
        list-style: disc;
        font: var(--font-l);
        color: var(--color-text);
        padding-left: 16px;
        margin-bottom: var(--spacer-xl);
    }

    p + ul {
        margin-top: calc(var(--spacer-xl) * -1);
    }
}

a {
    color: var(--color-dark);
}
