.page-error404 {

    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .error404 {
        width: 100%;

        .error404__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: var(--spacer-6xl);
        }

        .error404__content {

        }

        .error404__title {
            font-size: 200px;
            font-weight: bold;
            line-height: normal;
            margin-bottom: var(--spacer-xl);
        }

        .error404__text {
            margin-bottom: var(--spacer-3xl);
            max-width: 650px;
        }

        .error404__button {

        }

        .error404__image {

        }

    }
}