.page__title {
    margin-bottom: var(--spacer-lg);

    @media (min-width: 576px) {
        margin-bottom: var(--spacer-xl);
    }
}

.page__description {
    max-width: 650px;

    @media (min-width: 768px) {
        margin-left: auto;
        text-align: right;
    }
}

.page__header {
    position: relative;
    overflow: hidden;
    height: 320px;
    margin-bottom: var(--spacer-3xl);

    @media (min-width: 768px) {
        height: 400px;
    }

    @media (min-width: 992px) {
        height: 520px;
    }

    @media (min-width: 1200px) {
        height: 640px;
    }

    @media (min-width: 1600px) {
        height: 760px;
    }

    .page__image {
        position: relative;
        height: 320px;

        @media (min-width: 768px) {
            height: 400px;
        }

        @media (min-width: 992px) {
            height: 520px;
        }

        @media (min-width: 1200px) {
            height: 640px;
        }

        @media (min-width: 1600px) {
            height: 760px;
        }

        &:before {
            content: '';
            background-color: rgba(var(--color-title-rgb), .4);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .page__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        z-index: 200;
    }

    .page__title {
        color: var(--color-white);
    }

}
