.section.section-contact-me-small {
    text-align: center;

    .section__inner {
        background-color: var(--color-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--spacer-3xl) var(--spacer-lg);
        gap: var(--gutter-lg);

        @media (min-width: 992px) {
            flex-direction: row;
        }
    }

    .section__title {
        color: var(--color-white);
        margin-bottom: 0;
    }

    .section__actions {
        margin-top: 0;
    }
}