.item-portfolio {
    position: relative;

    .item__image {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin-bottom: var(--spacer);

        @media (max-width: 568px) {
            margin-bottom: var(--spacer-sm);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /*.item__content {*/
    /*    position: absolute;*/
    /*    bottom: -100%;*/
    /*    left: 0;*/
    /*    background-color: var(--color-white);*/
    /*    padding: var(--spacer-lg) var(--spacer-xl);*/
    /*    width: 100%;*/
    /*    transition: all 550ms ease 0s;*/
    /*}*/

    .item__title {
        margin-bottom: var(--spacer-sm);
    }

    .item__text {
        margin-bottom: var(--spacer-lg);
    }


    &:hover {
        /*.item__image {*/
        /*    transform: scale(1.1);*/
        /*}*/

        /*.item__content {*/
        /*    bottom: 0;*/
        /*}*/
    }
}