.section.section-package_text {

    .section__inner {
        display: grid;
        grid-template-columns: var(--column);
        gap: var(--gutter-xl);

        @media (min-width: 992px) {
            grid-template-columns: var(--col1-4);
        }
    }

    .section__list {
        display: grid;
        gap: var(--gutter-sm);

        img {
            width: 100%;
        }

    }

    .prices {

        .prices__title {
            margin-bottom: var(--spacer-sm);
        }


        .prices__list {

            .item {
                border-bottom: 1px solid var(--color-border);
                display: flex;
                justify-content: space-between;
                padding: var(--spacer-sm) 0;
                color: var(--color-text);

                .item__name {

                }

                .item__amount {
                    font-weight: 700;
                }
            }

        }

    }

}