.section.section-portfolio_hero {

    .section__inner {
    }

    .section__image {
        background-color: var(--color-bg);
        width: 100%;
        height: 100%;
        opacity: .2;

        @media (min-width: 768px) {
            order: 1;
        }

        img {
            min-width: 100%;
        }
    }

    .section__content {
        color: var(--color-text);

        .section__title {
            transform: none;
            white-space: nowrap;
        }

        .section__text {
            max-width: 800px;
        }

        .section__info {
            margin-top: var(--spacer-sm);

            .item {
                display: flex;
                align-items: center;
                gap: var(--spacer-sm);
            }
        }
    }

    .section__cards {
        display: grid;
        grid-template-columns: var(--column-2);
        gap: var(--gutter-lg);

        @media (min-width: 992px) {
            grid-template-columns: var(--column-4);
        }

        @media (min-width: 1200px) {
            grid-template-columns: var(--column-4);
        }
    }

    .section__card {
        display: flex;
        flex-direction: column;
        padding: var(--spacer-2xl) var(--spacer-lg);
        background-color: #F9F9F9;
        text-align: center;

        .section__card-title {
            margin-bottom: var(--spacer-sm);
        }
    }
}