{% extends 'blocks/base.html.twig' %}

{% block body_block %}
    <div class="section__content">
        <h2 class="section__title">{{ attributes.data.title }}</h2>
        <div class="section__text">
            <div class="lead">{{ attributes.data.text }}</div>

            {% if attributes.data.button is defined and attributes.data.button.name is not empty %}
                <div class="section__actions">
                    {{ button_field(attributes.data.button) }}
                </div>
            {% endif %}
        </div>
    </div>
    {% if attributes.data.image is defined %}
        <div class="section__image">
            <video muted="" loop="" autoplay="" playsinline="" style="width: 100%;">
                <source src="/uploads/certificate.webm" type="video/webm">
                <source src="/uploads/certificate.mp4" type="video/mp4">
            </video>
        </div>
    {% endif %}
{% endblock %}
