.row {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex: 1 1 0;
        width: 100%;
        max-width: 100%;
    }

    &.row-cols-auto {
        & > * {
            flex: 0 0 auto;
            width: auto;
        }
    }

    &.row-cols-2 {
        & > * {
            flex: 0 0 auto;
            width: 50%;
        }
    }

    &.row-cols-3 {
        & > * {
            flex: 0 0 auto;
            width: 33.3333333333%;
        }
    }

    &.row-cols-4 {
        & > * {
            flex: 0 0 auto;
            width: 25%
        }
    }
}