<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__copyright">
                <p>&copy; {{ "now"|date("Y") }} AlinaVisions. All rights reserved</p>
            </div>
            <div class="footer__social_media">

            </div>
        </div>
    </div>
</footer>