<header class="header">
    <div class="container">
        <div class="header__wrapper">

            <div class="header_left">
                {% include 'web/component/socials.html.twig' %}
            </div>

            <div class="header__menu">
                {{ menu('header') }}
            </div>

            <div class="header__right">
                <div class="mobile_menu_button">
                    <button class="menu_button" id="menu_button">
                        <span class="menu_button__text" data-close="Закрити" data-open="Меню">Меню</span>
                        <span class="menu_button__lines">
                            <i class="menu_button__line"></i>
                            <i class="menu_button__line"></i>
                        </span>
                    </button>
                </div>

                <div class="header__actions">
                    {% if page is defined %}
                        {{ language_switcher(page) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<div class="mobile_menu">
    <div class="container">
        <div class="mobile_menu__inner">
            <div class="mobile_menu__menu">
                {{ menu('header') }}
            </div>
            <div class="mobile_menu__actions">
                {% if page is defined %}
                    {{ language_switcher(page) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>