.modal {
    background-color: #fff;
    padding: var(--spacer-lg);
    max-width: 420px;
    min-width: 320px;

    .modal__title {
        margin-bottom: var(--spacer-lg);
        text-align: center;
    }

    /*@media (min-width: 576px) {*/
    /*    width: 420px;*/
    /*}*/

    .modal__content {
        text-align: center;
    }
}

.modal-book_package, .modal-form_certificate {
    padding-bottom: var(--spacer-xl);

    @media min-width: 768px {
        width: 520px;
    }

    .modal__form {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal__content {
        margin-bottom: var(--spacer-lg);
    }

    form textarea.form__control {
        height: 100px;
    }
}

.modal-form_certificate {
    .modal__title, .modal__content {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    @media (min-width: 768px) {
        max-width: 768px;
        width: 768px;
    }

    .modal__body {
        display: grid;
        gap: var(--gutter-lg);
        align-items: center;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .modal__body_left {

        h6 {
            margin-bottom: var(--spacer-sm);
        }

        ul {
            font: var(--font-text-sm);
            list-style: disc;
            padding-left: 14px;
            margin-bottom: var(--spacer);
            color: var(--color-text);
        }

        p {
            font: var(--font-text-sm);
            margin-bottom: var(--spacer-xs);
        }

    }

    .modal__body_right {

    }
}