.tabs {
    margin-bottom: var(--spacer-sm);
    padding: var(--spacer-sm) 0;

    .tabs__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--spacer-sm) var(--spacer-lg);

        @media (min-width: 768px) {
            gap: var(--spacer-sm) var(--spacer-xl);
        }
    }

    .tab {
        transition: var(--transition);
        padding: 2px 0;
        cursor: pointer;

        &:hover {
            color: var(--color-primary);
        }

        &.active {
            background-color: var(--color-primary);
            color: var(--color-white);
            padding: 2px var(--spacer-sm);
        }

    }
}