.section.section-text-content {

    .section__columns {
        &.columns--2 {
            display: grid;
            grid-template-columns: var(--column);
            gap: var(--gutter-lg);
            align-items: center;

            @media (min-width: 768px) {
                grid-template-columns: var(--col1-2);
            }

            .section__text {

            }
        }
    }

    .section__subtitle {
        margin-bottom: var(--spacer-lg);
    }

}