.section.section-portfolio {

    .section__content {
        margin-bottom: var(--spacer-2xl);
    }

    .section__text {
        margin-left: 0;
        max-width: 500px;

        @media (min-width: 768px) {
            margin-left: 132px;
        }
    }
}