.section.section-c-t-a {

    .section__inner {
        display: grid;
        grid-template-columns: var(--column);
        gap: var(--gutter-xl);
        align-items: center;

        @media (min-width: 768px) {
            grid-template-columns: var(--col4-3);
        }
    }

    .section__title {
        @media (min-width: 768px) {
            margin-bottom: var(--spacer-xl);
        }
    }

    .section__text {
        max-width: 600px;
        margin-left: auto;
    }

    .section__image {
        width: 100%;
        height: 100%;
        background-color: var(--color-bg);
    }

    .section__actions {
        text-align: left;
        margin-top: var(--spacer-lg);
    }
}