.section.section-services {
    .section__list {
        display: grid;
        grid-template-columns: var(--column);
        grid-gap: var(--gutter-lg);

        @media (min-width: 768px) {
            grid-template-columns: var(--column-2);
        }

        @media (min-width: 992px) {
            grid-template-columns: var(--column-3);
        }

        .item {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-bottom: 56.25%;

            .item__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 900ms ease 0s;
                }
            }

            .item__content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                background-color: rgba(var(--color-title-rgb), .4);
                padding: var(--spacer-xl);
            }

            .item__title {
                color: var(--color-white);
                text-align: center;
            }

            &:hover {
                .item__image {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}