.section.section-hero {

    .section__inner {
        display: grid;
        grid-template-columns: var(--column);
        gap: var(--gutter-xl);
        align-items: center;

        @media (min-width: 768px) {
            grid-template-columns: var(--column-2);
        }
    }

    .section__content {
        min-width: 0;
        max-width: 600px;

        @media (min-width: 768px) {
            order: 2;
        }

        @media (min-width: 1200px) {
            padding-top: var(--spacer-4xl);
            padding-bottom: var(--spacer-4xl);
        }

        .section__title {
            transform: none;
            white-space: nowrap;

            @media (min-width: 768px) {
                transform: translateX(-50%);
            }

            small {
                display: block;
                font-size: 50%;
                color: var(--color-primary);
                margin-bottom: 0;
                line-height: 1;
            }
        }
    }

    .section__image {
        width: 100%;
        height: 100%;
        position: relative;

        @media (min-width: 768px) {
            order: 1;
            opacity: .2;
        }

        img {
            min-width: 100%;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media (min-width: 768px) {
                height: auto;
                object-fit: initial;
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(var(--color-title-rgb), .4);

            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    .section__actions {
        text-align: left;
    }
}